<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Login</title>
</head>
<body><center>
    <form action="" method="POST">
        {% csrf_token %}
        <table>
            <tr>
                <td><label for="un">Username</label></td>
                <td><input type="text" name="username" id="un"></td>
            </tr>
            <tr>
                <td><label for="pw">Password</label></td>
                <td><input type="password" name="password" id="pw"></td>
            </tr>
            
            <tr rowspan="2"><td><input type="submit" value="Login"></tr></td>
        </table>
    </form>
    <a href="{% url 'home_page' %}">Home</a>
</center>
</body> 
</html>